/**
 * Grid
 */

*,
*:after,
*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container{
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  *zoom: 1;

  &:before{
    display: table;
    content: "";
  }

  &:after{
    clear: both;
    content: "";
  }
}

.clearfix{
  *zoom: 1;
}

.clearfix:after{
  clear: both;
}

.clearfix:after,
.clearfix:before{
  display: table;
  content: "";
}

.col-100,
.col-90,
.col-85,
.col-80,
.col-75,
.col-70,
.col-60,
.col-50,
.col-40,
.col-42-5,
.col-33,
.col-30,
.col-25,
.col-20,
.col-15,
.col-10{
  padding: 0 5px;
  float: left;
}

.col-100{
  width: 100%;
}

.col-90{
  width: 90%;
}

.col-85{
  width: 85%;
}

.col-80{
  width: 80%;
}

.col-75{
  width: 75%;
}

.col-70{
  width: 70%;
}

.col-60{
  width: 60%;
}

.col-50{
  width: 50%;
  float: left;
}

.col-40{
  width: 40%;
}

.col-42-5{
  width: 42.5%;
}

.col-33{
  width: 33.33%;
}

.col-30{
  width: 30%;
}

.col-25{
  width: 25%;
}

.col-20{
  width: 20%;
}

.col-15{
  width: 15%;
  float: left;
}

.col-10{
  width: 10%;
}

.grid-wrap{
  padding: 0 5px;
}

/**
 * Media Queries
 */

@media all and (max-width: 959px) and (min-width: 0px){

  .container{
    width: 100% !important;
    padding: 0 5px;
  }
  
  .container-full{
    padding: 0;
  }

}

@media all and (max-width: 768px) and (min-width: 0px){

  .col-90{
    width: 100%;
  }

  .col-85{
    width: 100%;
  }

  .col-80{
    width: 100%;
  }

  .col-75{
    width: 100%;
  }

  .col-70{
    width: 100%;
  }

  .col-60{
    width: 100%;
    float: left;
  }

  .col-50{
    width: 100%;
    float: left;
  }

  .col-40{
    width: 100%;
    float: left;
  }

  .col-42-5{
    width: 42100%;
    float: left;
  }

  .col-33{
    width: 100%;
    float: left;
  }

  .col-30{
    width: 100%;
    float: left;
  }

  .col-25{
    width: 100%;
    float: left;
  }

  .col-20{
    width: 100%;
    float: left;
  }

  .col-15{
    width: 100%;
    float: left;
  }

  .col-10{
    width: 100%;
    float: left;
  }

}
