/**
 * Vars
 */

// Colors
$red: #e90632;

// Typography
$h1: 2.5em;
$h2: 2em;
$h3: 1.625em;
$h4: 1.25em;
$h5: 1em;
$h6: 1em;
$heading-font: "Helvetica neue", helvetica, sans-serif;
$body-font: "Helvetica neue", helvetica, sans-serif;

// Spacing
$spacing: 20px;