/* ==================================================

floats-patterns.scss
force floats

================================================== */

.fl-left{
  float: left;
}

.fl-right{
  float: left;
}

.fl-none{
  float: none;
}

.inline{
  display: inline;
}