/* ==================================================

font-sizes-patterns.scss
force font styles on headers/text

================================================== */

.heading1-txt{
  font-size: 33px;
}

.heading2-txt{
  font-size: 26px;
}

.heading3-txt{
  font-size: 22px;
}